@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-inter: 'Inter', sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-slate-50 text-slate-900 font-sans antialiased selection:bg-secondary/30 selection:text-primary-dark;
    }

    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-slate-100;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}